tensorflow
absl-py==0.9.0
alabaster==0.7.12
AnyQt==0.0.10
astor==0.8.1
attrs==19.1.0
Babel==2.8.0
backcall==0.1.0
baycomp==1.0.2
bleach==3.1.0
Bottleneck==1.3.2
CacheControl==0.12.6
certifi==2019.6.16
cffi==1.14.0
chardet==3.0.4
commonmark==0.9.1
contextvars==2.4
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
dictdiffer==0.8.1
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
flake8==3.8.2
future==0.18.2
gast==0.2.2
google-pasta==0.1.8
grpcio==1.26.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.4.28
httpx==0.12.1
hyperframe==5.2.0
idna==2.8
imageio==2.5.0
imagesize==1.2.0
immutables==0.12
importlib-metadata==1.6.0
imutils==0.5.3
ipykernel==5.1.2
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jdcal==1.4.1
jedi==0.15.1
jeepney==0.4.3
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
kaggle==1.5.5
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==21.2.1
keyrings.alt==3.4.0
kiwisolver==1.1.0
llvmlite==0.32.0
lockfile==0.12.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
msgpack==1.0.0
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
notebook==6.0.1
numba==0.49.0
numpy==1.18.1
opencv-contrib-python==4.1.2.30
opencv-python==4.1.0.25
openpyxl==3.0.3
openTSNE==0.3.12
opt-einsum==3.1.0
orange-canvas-core==0.1.12
orange-widget-base==4.5.0
Orange3 @ file:///home/pavan/code/sjsu/cmpe257/orange3
packaging==20.4
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
pkg-resources==0.0.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.11.2
ptyprocess==0.6.0
pycodestyle==2.6.0
pycparser==2.20
pydot==1.4.1
pyflakes==2.2.0
Pygments==2.4.2
pynndescent==0.4.7
pyparsing==2.4.2
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyqtgraph==0.10.0
PyQtWebEngine==5.14.0
pyrsistent==0.15.4
python-dateutil==2.8.0
python-louvain==0.14
python-slugify==3.0.3
pytz==2019.2
PyWavelets==1.0.3
PyYAML==5.3
pyzmq==18.1.0
qtconsole==4.5.4
requests==2.22.0
rfc3986==1.4.0
scikit-image==0.15.0
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
SecretStorage==3.1.2
Send2Trash==1.5.0
serverfiles==0.3.0
six==1.14.0
sniffio==1.1.0
snowballstemmer==2.0.0
Sphinx==3.0.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboard==1.15.0
tensorflow-estimator==1.14.0
tensorflow-examples===751f4648e3917178b0e67454422477fe5d81d611-
tensorflow-gpu==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.2
tornado==6.0.3
tqdm==4.41.1
traitlets==4.3.2
urllib3==1.24.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.2.8
yellowbrick==1.1
zipp==3.1.0
